{% extends 'pages/base.html'%}
{% load static %}


{% block title %} Home {% endblock %}

{% block content %}
<div class="row">

    {% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class=" alert {{ message.tags }} my-5" {% endif %}> {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="col-lg-4 d-flex justify-content-center" style="margin-top: 70px;">
    {% if request.user.is_authenticated %} 
        <img class="img-thumbnail img-fluid" src="{{ request.user.registration.photo.url }}" style="max-width: 60%;" alt="">
    {% else %}
        <img src="{% static 'images/covid-protection.png' %}" style="max-width: 60%;" alt="">
    {% endif %}
</div>
<div class="col-lg-8" style="margin-top: 120px;">
    <p class="color-muted fs-6">Greetings!{% if request.user.is_authenticated %} <b>{{ request.user.registration.name }}</b><br>{% endif %} Only in case of emergency, you can use this tool to get permission from the
        concerned police department by maintaining the hygiene rules in the lockdown.</p>
    <div class="row d-flex justify-content-center mt-5">
        {% if request.user.is_authenticated %}
        <div class="col-md-3">
            <a href="{% url 'apply_pass' %}" class="btn btn-success d-block">Apply</a>
        </div>
        <div class="col-md-1 text-center">
            <span class="align-middle span-arrow mt-2">
                <i class="far fa-arrow-alt-circle-right"></i>
            </span>
        </div>
        <div class="col-md-3">
            <a href="{% url 'apply_pass_list' %}" class="btn btn-info d-block">Collect</a>
        </div>
        <div class="col-md-1">
        </div>
        {% else %}
        <div class="col-md-3">
            <a href="{% url 'registration' %}" class="btn btn-primary d-block">Register</a>
        </div>
        <div class="col-md-1 text-center">
            <span class="align-middle span-arrow mt-2">
                <i class="far fa-arrow-alt-circle-right"></i>
            </span>
        </div>
        <div class="col-md-3">
            <a href="{% url 'apply_pass' %}" class="btn btn-success d-block">Apply</a>
        </div>
        <div class="col-md-1 text-center">
            <span class="align-middle span-arrow mt-2">
                <i class="far fa-arrow-alt-circle-right"></i>
            </span>
        </div>
        <div class="col-md-3">
            <a href="{% url 'apply_pass_list' %}" class="btn btn-info d-block">Collect</a>
        </div>
        <div class="col-md-1">
        </div>
        {% endif %}

    </div>
</div>
</div>
{% endblock %}